.DateTime-container {
    flex-grow: 1;
    border: red 2px solid;
    justify-content: center;
    align-items: center;
}

.DateTime-text {
    color: white;
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 5px 5px #00000080;
}
