.DateTime-container {
    border: red 2px solid;
    height: 100vh;
}

.DateTime-text {
    margin: 30px;
    color: white;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 5px 5px #00000080;
}
